{% extends "base.html" %}
{% load static %}

{% block title %}
Proyecto Final-REYES- About
{% endblock title %}

{% block titulo-imagen %}
<header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Acerca de  Desinteligenicia Natural</h1>
                    <span class="subheading">Esto es lo que hacemos</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock titulo-imagen %}

{% block contenido %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p><br>¡Bienvenidos a Desinteligenicia Natural! Somos un destino en línea dedicado a explorar la intersección fascinante entre la mente humana y la inteligencia artificial. Nuestro objetivo es ofrecer una visión equilibrada y perspicaz de los avances tecnológicos que están transformando la forma en que vivimos y pensamos.</p>
                <p>En Desinteligenicia Natural, creemos que el conocimiento es la clave para abrazar el futuro con confianza. Nuestro equipo de apasionados entusiastas de la inteligencia artificial y expertos en tecnología trabaja arduamente para traerte noticias actualizadas, análisis profundos y perspectivas únicas sobre los desarrollos más recientes en el mundo de la IA.</p>
                <p>Ya sea que estés interesado en descubrir cómo la IA está cambiando la medicina, explorar las complejidades éticas de la automatización o simplemente mantenerte al día con los últimos avances en algoritmos y redes neuronales, aquí encontrarás contenido que te inspirará a pensar de manera crítica y creativa sobre el futuro de la inteligencia artificial.</p>
                <p>Nuestro compromiso es ser un recurso confiable y accesible para todos, desde aquellos que recién comienzan a explorar el mundo de la IA hasta los profesionales y académicos más experimentados. ¡Esperamos que disfrutes navegando por nuestro contenido y te unas a nosotros en esta emocionante travesía hacia el futuro de la mente y la tecnología!</p>
                <p>¡Gracias por visitar Desinteligenicia Natural!</p>
                <blockquote class="blockquote">Equipo Desinteligenicia Natural</blockquote>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}