{% extends "base.html" %}
{% load static %}

{% block title %}
Proyecto Final-REYES- Noticias
{% endblock title %}


{% block titulo-página %}
<head>
    <title>{% if articulo %}Editar{% else %}Crear{% endif %} Artículo</title>
</head>
<body>
    <h1>{% if articulo %}Editar{% else %}Crear{% endif %} Artículo</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% if articulo %}Actualizar{% else %}Guardar{% endif %}">
    </form>
</body>
{% endblock titulo-página %}

