{% extends "base.html" %}
{% load static %}

{% block title %}
Proyecto Final-REYES- Noticias
{% endblock title %}

{% block titulo-imagen %}
<header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ articulo.titulo }}</h1>
                    <h2 class="subheading">{{ articulo.subtitulo }}</h2>
                    <span class="meta">    
                        Autor: {{ articulo.autor }} - Fecha de publicación: {{ articulo.fecha_publicado }}
                    </span>
                    <div>
                        <a type="button" class="btn btn-outline-light" href="{% url 'articulo_editar' articulo.pk %}">Editar artículo</a>
                        <a type="button" class="btn btn-outline-light" href="{% url 'articulo_eliminar' articulo.pk %}">Eliminar artículo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock titulo-imagen %}

{% block contenido %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="max-width: 778px;"> 
                {% if articulo.imagen %}
                    <img class="img-fluid" src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" style="width: 100%; height: auto;"></a>
                    <span class="caption text-muted">{{ articulo.pie_imagen }}</span>
                {% endif %}
                <div>
                    {{ articulo.contenido|safe }}
                </div>
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'articulo_lista' %}">Volver</a></div>
            </div>
        </div>
    </div>
</article>
{% endblock contenido %}