{% extends "base.html" %}

{% block title %}
Proyecto Final-REYES- Noticias
{% endblock title %}

{% block titulo-imagen %}
<header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% if articulos %}
                    <h1>Artículos disponibles</h1>
                    <ul>
                        {% for articulo in articulos %}
                            <li><a href="{% url 'articulo_detail' articulo.pk %}">{{ articulo.titulo }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <h1>No hay entradas aún</h1>
                    {% endif %}
                    <a href="{% url 'articulo_crear' %}">Crear nuevo artículo</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock titulo-imagen %}

{% block contenido %}
<ul>
{% for articulo in articulos %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          <div class="post-preview">
              <a href="{% url 'articulo_detail' articulo.pk %}">
                  <h2 class="post-title">{{ articulo.titulo }}</h2>
                  <h3 class="post-subtitle">{{ articulo.subtitulo }}</h3>
              </a>
              <p class="post-meta">
                   Autor: {{ articulo.autor }} - Fecha de publicación: {{ articulo.fecha_publicado }}
              </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Pager-->
          <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
      </div>
  </div>
</div>
{% endfor %}
</ul>
{% endblock contenido %}
